html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 90%;
    width: 100%;
}

table, td {
    border: 1px solid #cccccc;
    border-collapse:collapse;
}

p { margin: 0; padding: 0; }
div { margin: 20px; }

#header {
    margin-left: 60%;
}

#body {
    width: 900px;
    margin: auto;
    border: 1px solid #cccccc;
    padding: 10px;
    padding-bottom: 60px;   /* Height of the footer */
}

#footer {
    position: absolute;
    bottom: 0;
    height: 60px;   /* Height of the footer */
    width: 100%;
    margin: auto;
    text-align: center;
}