/* todo:remove when switched to master pages */

div {
    margin: 20px;
    /*border: 1px solid #cccccc;*/

}
body{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 14px;
}
p{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width:900px;
    margin: auto;
    border: 1px solid #cccccc;
}
.result, #user{
    width: auto;
}
table, td{
    border: 1px solid #cccccc;
    border-collapse:collapse;
}
#list{
    margin-left: 20px;
}
