<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/site.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <!-- links and scripts -->
    {% block css %}
    {% endblock %}

    <!-- title -->
    {% block title %}
        <title>Pragmatiq - Performance Review tool</title>
    {% endblock %}

    <!-- script -->
    {% block script %}

    {% endblock %}
</head>
<body>
<!-- header -->
<div id="header">
    {% block header %}
        <table>
            <tr>
                <td>{{username}}</td>
                <td>Current role:
                    <select onchange="load_role(this.options[selectedIndex].value);">
                        {% for role in roles %}
                            <option value="{{role}}">{{role}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><a href="{{logout_url}}">Logout</a></td>
            </tr>
        </table>
    {% endblock %}
</div>

<!-- sidebar -->
<div id="sidebar">
    {% block sidebar %}

    {% endblock %}
</div>

<!-- content -->
<div id="body">
    {% block content %}

    {% endblock %}
</div>

<!-- footer -->
<div id="footer">
    From Kharkov with Love (c) Mirantis
</div>

</body>
</html>