{% extends "_api_base.html" %}

{% block content %}
        <h1>Current Performance Review</h1>
    {% if current_pr %}
        {% if current_pr.employee_form %}
        <a href="/#/employee/pr/get/employee/{{current_pr.key}}">load self AF</a>
        {% else %}
        <a href="/#/employee/pr/add/employee/{{current_pr.employee.key}}">load self AF</a>
        {% endif %}
    {% else %}
        You have no assigned performance review
    {% endif %}
{% if comments %}
        <h1>You can leave comments</h1>
        {% for comment in comments %}
            <div>
                <div>{{comment.pr.employee.first_name}}&nbsp;{{comment.pr.employee.last_name}}</div>
                {% for comment_text in comment.comments %}
                        <p>{{comment_text}}</p>
                    <div><input type="button" value="delete" onclick="delete_comment('{{comment.key}}', '{{forloop.counter0}}')"></div>
                    {% endfor %}
                <textarea class="comment_area" rows="5" cols="30"></textarea><br>
                <input type="button" value="send comment" onclick="save_comment('{{comment.key}}', this)">
            </div>
        {% endfor %}
{% endif %}
    {% if prs %}
        <h1>Archived Performance Reviews</h1>
        {% for pr in prs %}
            <a href="/#/employee/pr/get/employee/{{pr.key}}">{{pr.period.description}}</a>
        {% endfor %}
    {% endif %}
{% endblock %}
