{% extends "_api_base.html" %}

{% block breadcrumps %}
<span class="breadcrump"><a href="#/manager/home">Home</a></span>&nbsp;&gt;
{% ifnotequal name 'all' %}
<span class="breadcrump"><a href="/#/manager/get/project/all">My Projects</a></span>&nbsp;&gt;&nbsp;
<span class="breadcrump breadcrump_current">{{name}}</span>
{% else %}
       <a>My Projects</a>
{% endifnotequal %}
{% endblock %}
{% block content %}

{% if not projects %}
    No reviews currently available
{% else %}
    {% for project in projects %}
        {% if project.prs %}
        <div>
        <a href = '/#/manager/get/project/{{project.name}}'>Project: {{project.name}}</a></div>
        <table>
            <thead>
                <tr>
                    <td>Employee</td>
                    <td>Manager&nbsp;form</td>
                    <td>Employee&nbsp;form</td>
                </tr>
            </thead>
        {% endif %}
        {% for pr in project.prs %}
            {% if pr.is_open %}
                <tr>
                    <td>{{pr.employee.first_name}}&nbsp;{{pr.employee.last_name}}</td>
                    <td>
                        {% if pr.manager_form %}
                            <a href="#/manager/pr/get/manager/{{pr.key}}">load</a>
                        {% else %}
                            <a href="#/manager/pr/add/manager/{{pr.employee.key}}">create</a>
                        {% endif %}
                    </td>
                    <td>{% if pr.employee_form %}
                            {% ifnotequal pr.employee_form.status 'draft' %}
                                <a href="#/manager/pr/get/employee/{{pr.key}}">load</a>
                            {% else %}
                                <p>none</p>
                            {% endifnotequal %}
                        {% else %}
                                <p>none</p>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endfor %}
{% endif %}
{% endblock %}
