{% extends "_api_base.html" %}

{% block script %}
<script type="text/javascript" src="/static/site.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript">

var form_key= '{{form.key}}';
var form_type='{{form.pr.period.type}}';
var users_email = new Array();

function send_request(){
    if (flag){
        $.get('/lock_form/' + form_key, function(data){
        if (data != 'ok'){
            message = data;
            load(document.location.hash.replace('#',''));
        }
    })
    }
    }
function lock_form(){
        setInterval('send_request()', 30000);
}

$(function() {
		$( "#dialog:ui-dialog" ).dialog( "destroy" );

		$( "#sharing-form" ).dialog({
			autoOpen: false,
			height: 500,
			width: 500,
			modal: true,
            buttons: {"ok": function(){
                        $( "#sharing-form" )
                                .find('.users_email')
                                .each(function(){
                                 users_email.push($(this).html())
                        });
                        $( this ).dialog( "close" );
                        $('#shared_users').html('');
                        $.post('/form/share', {'form_key': form_key,
                            'users': users_email.join(',')},
                                function(data){
                                    message = data;
                                    load(window.location.hash.replace('#',''));
                        })
                        },
                      "cancel": function(){$( this ).dialog( "close" );}}
		});
	});
        $( "#share" )
			.click(function() {
				$( "#sharing-form" ).dialog( "open" );
			});
        $( "#users" ).autocomplete({
			source: "/get_users",
			minLength: 1,
            select: function( event, ui ) {
                $('#shared_users')
                        .append("<div><p class='users_email'>"
                        + ui.item.value +
                        "</p><input type='button' value='&times;' onclick='parent_replace(this)'></div>");
			}

        });
$( "#users" ).focusout(function(){$(this).val('')});
$(function() {
		$( "#accordion" ).accordion();
	});

function parent_replace(obj){
    $(document).find(obj).parent().replaceWith('')
}

$(document).ready(function(){
    $('.date').datepicker({ dateFormat: 'yy-mm-dd' });
    flag = true;
    send_request();
    lock_form();
});

</script>
{% endblock %}
{% block breadcrumps %}
<a href="/#/manager/home">Home</a> > <a href="/#/manager/get/all">PR</a> >
<a href="/#/manager/get/{{form.pr.employee.dept.name}}">{{form.pr.employee.dept.name}}</a> >
<a>{{form.pr.employee.first_name}}&nbsp;{{form.pr.employee.last_name}}&nbsp;form</a>
{% endblock %}
{% block content %}

<div id="sharing-form" title="Share form">
	<p>Share to:</p>
    <input type="text" id="users">
    <div id="shared_users"></div>
</div>

        <h1>Manager form</h1>
<div id="info">
<p>Manager Assessment Form for {{form.pr.employee.first_name}}&nbsp;{{form.pr.employee.last_name}}</p>
<p>date: {{form.pr.date}}</p>
shared to:
<ul>
    {% for editor in form.editors %}
        <li>{{editor.user.first_name}}&nbsp;{{editor.user.last_name}}</li>
    {% endfor %}
</ul>
<input type="button" id="share" value="share">
</div>
<div id='accordion'>
<h3><a href="#">Projects and Initiatives</a></h3>
    <div>
        <div id="project">
        <p>Please list all projects and initiatives you participated in during this performance review period.</p>
        <ul>
        {% for project in form.projects %}
            <li class='text_field' onclick="make_input(this)" id="{{project.key}}">{{project.value}}</li>
        {% endfor %}
        </ul>
    <input type="button" class="add_button" onclick="add_data(this, '{{form.key}}')" value="add" >
</div>
    </div>
<h3><a href="#">Achievements and Challenges</a></h3>
    <div>
        <div id="prev_achievements">
            <a href="#" onclick="display(this); return false">Show previous achievements</a>
            <div class='hidden'>
                <ul>
                {% for achievement in prev_form.achievements %}
                    <li>{{achievement.value}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div id="achievements" class="input_div">
            <p>What do you consider to be your key accomplishments since your last review?</p>
            <ul>
            {% for ach in form.achievements %}
                <li class='text_field' onclick="make_input(this)" id="{{ach.key}}">{{ach.value}}</li>
            {% endfor %}
            </ul>
            <input type="button" class="add_button" onclick="add_data(this, '{{form.key}}')" value="add" >
        </div>

        <div id="prev_responsibilities">
            <a href="#" onclick="display(this); return false">Show previous responsibilities</a>
            <div class='hidden'>
                <ul>
                {% for responsibility in prev_form.responsibilities %}
                    <li>{{responsibility.value}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div id="responsibility" class="input_div">
            <p>List your key job responsibilities during your performance period. Please comment on your job performance assessment.</p>
            <ul>
            {% for responsibility in form.responsibilities %}
                <li class='text_field' onclick="make_input(this)" id="{{responsibility.key}}">{{responsibility.value}}</li>
            {% endfor %}
            </ul>
            <input type="button" class="add_button" onclick="add_data(this,'{{form.key}}')" value="add" >
        </div>

        <div id="prev_challenges" >
            <a href="#" onclick="display(this); return false">Previous challenges</a>
            <div class='hidden'>
                <ul>
                {% for challenge in prev_form.challenges %}
                    <li>{{challenge.value}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>


        <div id="challenges" class="input_div">
            <p>If you have experienced challenges, please specify the areas where you need to focus and improve. </p>
            <ul>
            {% for challenge in form.challenges %}
                <li class='text_field' onclick="make_input(this)" id="{{challenge.key}}">{{challenge.value}}</li>
            {% endfor %}
            </ul>
            <input type="button" class="add_button" onclick="add_data(this,'{{form.key}}')" value="add" >
        </div>
    </div>

    <h3><a href="#">Professional development plan</a></h3>
    <div>
        <div id="career" class="input_div">
            <p>To be filled in during the performance review session.
                The plan contains short term professional development activities.
            It can be split into self-development activities and trainings, courses or internship programs sponsored by the Company. </p>
            <ul>
            {% for career in form.careers %}
                <li class='text_field' onclick="make_input(this)" id="{{career.key}}" >{{career.value}}</li>
            {% endfor %}
            </ul>
            <input type="button" class="add_button" onclick="add_data(this, '{{form.key}}')" value="add" >
        </div>
    </div>
<h3><a href="#">Goals</a></h3>
    <div>
        <div id="prev_goals" class="prev_data">
            <p>Goals from the previous performance review and their evaluation.
                This section compares the goals and results achieved during the previous performance period.
                Actual examples of performance should be given whenever possible.</p>

            <table>
                <thead>
                    <tr>
                        <td>Goal</td>
                        <td>Value</td>
                    </tr>
                </thead>
            {% for prev_goal in prev_form.next_goals %}
                <tr>
                    <td>{{prev_goal.value}}</td>
                    <td>
                        <select id="{{prev_goal.key}}" onchange="set_result(this.id, this.options[selectedIndex].value)">
                            <option value="1" class="grade">below expectations</option>
                            <option value="2" class="grade">meet expectations</option>
                            <option value="3" class="grade">above expectations</option>
                        </select>
                        <script type="text/javascript" language="JavaScript">
                            $("#{{prev_goal.key}}").val("{{prev_goal.result}}");
                        </script>
                    </td>
                </tr>
            {% endfor %}
            </table>

        </div>

        <div id="next_goals" class="input_div">
            <p>Set measurable goals for the employee for the next performance review period.</p>
            <ul>
            {% for goal in form.next_goals %}
                <li class='text_field' onclick="make_input(this)" id="{{goal.key}}" >{{goal.value}}</li>
            {% endfor %}
            </ul>
            <input type="button" class="add_button" onclick="add_data(this, '{{form.key}}')" value="add" >
        </div>
    </div>
<h3><a href="#">Performance conclusion</a></h3>
    <div>
        {% block salary %}

        <div id='salary' class="input_div">
            New salary:
            <input type="text" id="{{form.get_all_data.salary.key}}" value="{{form.get_all_data.salary.value}}" onblur="update_data(this.id,this.value)" >

        </div>

        <div id='grade' class="input_div">
            Grade:
                <input type="text" id="{{form.get_all_data.grade.key}}" value="{{form.get_all_data.grade.value}}" onblur="update_data(this.id,this.value)">
        </div>

        <div>
            New position:
                <input type="text" id="{{form.get_all_data.position.key}}" value="{{form.get_all_data.position.value}}" onblur="update_data(this.id,this.value)">
        </div>
         <div>
            First effective date:
                <input type="text" class="date" id="{{form.pr.first_effective_date}}" value="{{form.pr.first_effective_date}}" onchange="$.post('/pr/update',
                {'key': '{{form.pr.key}}','first_date': this.value})">
        </div>
        {% endblock %}

        <div id='conclusion' class="prev_data">
            Conclusion:
                <select id="{{form.get_all_data.conclusion.key}}" onchange="send_value(this.id, this.options[selectedIndex].value)">
                    <option value="below expectations">below expectations</option>
                    <option value="meet expectations">meet expectations</option>
                    <option value="above expectations">above expectations</option>
                </select>
                <script type="text/javascript" language="JavaScript">
                            $("#{{form.get_all_data.conclusion.key}}").val("{{form.get_all_data.conclusion.value}}");
                </script>
        </div>
    </div>
<h3><a href="#">Misc</a></h3>
    <div>
        <div id="manager_comment" class="input_div">
            <p>Fill any comments on this particular form.</p>

            {% for manager_comment in form.manager_comments %}
                <p id="{{manager_comment.key}}" onclick="make_textarea(this)">{{manager_comment.value}}</p>
            {% endfor %}

            <input type="button" class="add_button" onclick="add_textarea(this, '{{form.key}}')" value="add" >
        </div>

        <div id="file">
            <p>Attached files:</p>
            {% if file_name%}
                <a href="/serve/{{file_key}}">{{file_name}}</a>
            {% endif %}
        </div>

        <div>
            <form action="{{upload_url}}" method="POST" enctype="multipart/form-data">
                <input type='hidden' name='key' value={{form.key}}>
                <input type="file" name="file"><br>
                <input type="submit" name="submit" value="attach">
            </form>
        </div>
    </div>
</div>

<div>
    {% ifequal user.email form.pr.manager.email  %}
        {% ifequal form.status 'draft' %}
            <input type="button" id='submit' onclick="maf_submit('{{form.pr.employee.first_name}} {{form.pr.employee.last_name}}')" value="submit">
        {% endifequal %}
        {% ifequal form.status 'registered' %}
            <input type="button" value="undo submit" onclick="maf_draft('{{form.pr.employee.first_name}} {{form.pr.employee.last_name}}')">
            <input type="button" id='approve' onclick="check_form('{{form.pr.employee.first_name}} {{form.pr.employee.last_name}}')" value="approve">
        {% endifequal %}
    {% endifequal %}
</div>
{% endblock %}