{% extends "_api_base.html" %}

{% block script %}
<script type="text/javascript" src="/static/development-bundle/ui/jquery.ui.dialog.js"></script>
<script type="text/javascript" src="/static/development-bundle/ui/jquery.ui.tabs.js"></script>
<script type="text/javascript">
    $(function() {
		$( "#tabs" ).tabs({
			ajaxOptions: {
				error: function( xhr, status, index, anchor ) {
					$( anchor.hash ).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo." );
				}
			}
		});
	});

    function open_pop_up(link){
        $( "#tab1-content" ).load(link);
        $( "#pop-up-content" ).dialog("open");
    }
    $(function() {
		$( "#dialog:ui-dialog" ).dialog( "destroy" );

		$( "#pop-up-content" ).dialog({
			height: 600,
            width: 600,
            autoOpen: false,
			modal: true
		});
	});
</script>
{% endblock %}
{% block breadcrumps %}
<span class="breadcrump"><a href="#/manager/home">Home</a></span>&nbsp;&gt;
{% ifnotequal name 'all' %}
<span class="breadcrump"><a href="/#/manager/get/department/all">PR</a></span>&nbsp;&gt;&nbsp;
<span class="breadcrump breadcrump_current">{{name}}</span>
{% else %}
       <a>PR</a>
{% endifnotequal %}
{% endblock %}
{% block content %}

{% if not depts %}
    No reviews currently available
{% else %}
    {% for dept in depts %}
        {% if dept.prs %}
        <div>
        <a href = '/#/manager/get/department/{{dept.name}}'>Department: {{dept.name}}</a></div>
        <table>
            <thead>
                <tr>
                    <td>Employee</td>
                    <td>Manager&nbsp;form</td>
                    <td>Employee&nbsp;form</td>
                    <td>Comments</td>
                    <td>Open pop-up</td>
                </tr>
            </thead>
        {% endif %}
        {% for pr in dept.prs %}
            <tr>
                    <td>{{pr.employee.first_name}}&nbsp;{{pr.employee.last_name}}</td>
                    <td>
                        {% if pr.manager_form %}
                            <a href="#/manager/pr/get/manager/{{pr.key}}">load</a>
                        {% else %}
                            <a href="#/manager/pr/add/manager/{{pr.employee.key}}">create</a>
                        {% endif %}
                    </td>
                    <td>{% if pr.employee_form %}
                            {% ifnotequal pr.employee_form.status 'draft' %}
                                <a href="#/manager/pr/get/employee/{{pr.key}}">load</a>
                            {% else %}
                                <p>none</p>
                            {% endifnotequal %}
                        {% else %}
                                <p>none</p>
                        {% endif %}
                    </td>
                    <td><a href="#/pr/manager/comments/{{pr.key}}">comments</a></td>
                    <td><input type="button" onclick="open_pop_up('/manager/pr/get/manager/{{pr.key}}')" value="open pop-up"></td>
                </tr>
            
        {% endfor %}
        </table>
        <div id="pop-up-content">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">MAF</a></li>
                    <li><a href="ajax/content1.html">EAF</a></li>
                    <li><a href="/pr/manager/comments/{{pr.key}}">comments</a></li>
                </ul>
	<div id="tabs-1">
        <div id="tab1-content"></div>
	</div>
</div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
