{% extends "_api_base.html" %}

{% block content %}
{% if not prs %}
    No reviews currently available
{% endif %}
<table>

    {% for pr in prs %}
        <tr>
            <td>{{pr.employee.first_name}}&nbsp;{{pr.employee.last_name}}</td>
            <td>
                {% if pr.manager_form %}
                    <input type="button" value="mark" onclick="load('pr/get/manager/{{pr.key}}')">
                {% else %}
                    <input type="button" value="add" onclick="load('/pr/add/manager/{{pr.employee.key}}')">
                {% endif %}
            </td>

            <td>
                {% ifequal pr.self_form.status "submitted" %}
                    <input type="button" value="show" onclick="load('/pr/get/employee/{{pr.key}}')">
                {% else %}
                    <p>none</p>
                {% endifequal %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}