{% extends "_api_base.html" %}

{% block script %}
<script type="text/javascript">

var form_key= '{{key}}';
var form_type='{{type}}';

$(document).ready(function() {

    if ('{{status}}' != 'draft'){
        $('input:text').attr('readonly', 'readonly');
        $('.add_button').attr('disabled', 'disabled')
    }
    
    $('#submit').click(function(){
        $.get('/pr/employee/submit/'+form_key, function(data){
            if (data == 'ok'){
                $('input:text').attr('readonly', 'readonly');
                $('.add_button').attr('disabled', 'disabled')
            }
            else{
                alert(data)
            }
        })
    })

    $('.grade').click(function() {
        var id = $(this).parent().attr('id');
        $.post('/pr/data/update/'+id,
                {'grade': this.value},
                function(data){
                    alert(data)})
    });

    $('.add_button').click(function() {
        var button = $(this);
        var table = button.parent().attr('id');
        $.post(
            '/pr/data/add',
            {form_key: form_key, table: table},
            function(data){
                $('<input type="text" size="75">').attr('id',data).focusout(
                        function(){
                            $.post('/pr/data/update/'+this.id,
                                    {value: this.value});
                            make_text(this);
                }).insertBefore(button)
            }
        )
    });
})
</script>
{% endblock %}

{% block content %}
<p>Performance Review Form for {{emp.first_name}}&nbsp;{{emp.last_name}}</p>
<p>Manager: {{author.first_name}}&nbsp;{{author.last_name}}</p>
<p>date: {{date}}</p>

<div id="">

</div>



<div id="project" class="input_div">
    <p>Please list all projects and initiatives you participated in during this performance review period.</p>
    {% for project in data.projects %}
        <p id="{{project.key}}" onclick="make_input(this)">{{project.value}}</p>
    {% endfor %}
    <input type="button" class="add_button" value="add" >
</div>

<div id="achievements" class="input_div">
    <p>What do you consider to be your key accomplishments since your last review?</p>
    {% for ach in data.achievements %}
        <p id="{{ach.key}}" onclick="make_input(this)">{{ach.value}}</p>
    {% endfor %}
    <input type="button" class="add_button" value="add" >
</div>

<div id="responsibility" class="input_div">
    <p>List your key job responsibilities during your performance period. Please comment on your job performance assessment.</p>
    {% for responsibility in data.responsibilities %}
        <p id="{{responsibility.key}}" onclick="make_input(this)">{{responsibility.value}}</p>
    {% endfor %}
    <input type="button" class="add_button" value="add" >
</div>

<div id="challenges" class="input_div">
    <p>If you have experienced challenges, please specify the areas where you need to focus and improve. </p>
    {% for challenge in data.challenges %}

        <p id="{{challenge.key}}" onclick="make_input(this)">{{challenge.value}}</p>
    {% endfor %}
    <input type="button" class="add_button" value="add" >
</div>

<div id="skill" class="input_div">
    <p>Please mention what skills and/or knowledge do you need for further development to contribute to your overall job success.</p>
    {% for skill in data.skills %}
        <!-- todo: use css class instead of properties -->
        <p id="{{skill.key}}" onclick="make_input(this)"> {{skill.value}}</p>
    {% endfor %}
    <input type="button" class="add_button" value="add" >
</div>

<div id="prev_goals" class="input_div">
    <p>Previous Goals:</p>
    <table>
        <thead>
            <tr>
                <td>Goal</td>
                <td>Value</td>
            </tr>
        </thead>
    {% for prev_goal in prev_goals %}
        <tr>
            <td>{{prev_goal.value}}</td>
            <td>
                <select id="{{prev_goal.key}}" onchange="set_result(this.id, this.options[selectedIndex].value)">
                    <option value="1" class="grade">below expectations</option>
                    <option value="2" class="grade">meet expectations</option>
                    <option value="3" class="grade">above expectations</option>
                </select>
                <script type="text/javascript" language="JavaScript">
                    $("#{{prev_goal.key}}").val("{{prev_goal.result}}");
                </script>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>

<div id="next_goals" class="input_div">
    <p>Goals for the next period:</p>
    {% for goal in data.next_goals %}
        <p id="{{goal.key}}" onclick="make_input(this)">{{goal.value}}</p>
    {% endfor %}
    <input type="button" class="add_button" value="add" >
</div>

<div id="career" class="input_div">
    <p>What are your professional interests and long-term career objectives, and what are you plans to accomplish these objectives?  </p>
    {% for career in data.careers %}
        <p id="{{career.key}}" onclick="make_input(this)">{{career.value}}</p>
    {% endfor %}
    <input type="button" class="add_button" value="add" >
</div>

<div id="issue" class="input_div">
    <p>Do you see any issues with your role within the company and/or your project(s)?</p>
    {% for issue in data.issues %}
        <p id="{{issue.key}}" onclick="make_input(this)">{{issue.value}}</p>
    {% endfor %}
    <input type="button" class="add_button" value="add" >
</div>

<div id="complaint" class="input_div">
    <p>Do you have any complaints?</p>
    {% for complaint in data.complaints %}
        <p id="{{complaint.key}}" onclick="make_input(this)">{{complaint.value}}</p>
    {% endfor %}
    <input type="button" class="add_button" value="add" >
</div>

<div id="manager_help" class="input_div">
    <p>Is there anything your manager could do to help you do a better job? </p>
    {% for manager_help in data.manager_helps %}
        <p id="{{manager_help.key}}" onclick="make_input(this)">{{manager_help.value}}</p>
    {% endfor %}
    <input type="button" class="add_button" value="add" >
</div>

<div>
    <p>Attached files:</p>
    {% if file_name%}
        <a href="/serve/{{file_key}}">{{file_name}}</a>
    {% endif %}
</div>

<div>
    <form action="{{upload_url}}" method="POST" enctype="multipart/form-data">
        <input type='hidden' name='key' value={{key}}>
        <input type="file" name="file"><br>
        <input type="submit" name="submit" value="attach">
    </form>
</div>

<div>
    <input type="button" id="submit" value="submit">
</div>
{% endblock %}