{% extends "_api_base.html" %}

{% block script %}
<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/static/locking_form.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/static/development-bundle/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/jQuery-File-Upload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/static/jQuery-File-Upload/jquery.fileupload.js"></script>
<script type="text/javascript" src="/static/jQuery-File-Upload/jquery.fileupload-ui.js"></script>
<script type="text/javascript">

    var form_key = '{{form.key}}';
    
    $(function() {
            $( "#accordion" ).accordion();
        });
$(function () {
    $('#dropzone').fileupload({
        formData: {'key': '{{form.pr.key}}', 'role': 'manager'},
        url: '/upload_xml',
        dropZone: $("#dropzone"),
        done: function (e, data) {
            message = data.result;
            window.location.href = window.location.href + '#'
        }
    });
});

</script>
{% if form.pr.is_open %}
{% ifnotequal form.status 'submitted' %}
<script type="text/javascript">

    {% ifequal user.email form.pr.manager.email %}
    $(document).ready(function(){

        editing_form_open= true;
        send_unlock_request();
        unlock_timer = unlock_form();

    });
    {% endifequal %}

</script>
{% endifnotequal %}
{% endif %}

{% endblock %}

{% block breadcrumps %}
<a href="/#/manager/home">Home</a>&nbsp;&gt;&nbsp;
<a href="/#/manager/get/all">PR</a>&nbsp;&gt;&nbsp;
<a href="/#/manager/get/{{form.pr.employee.dept.name}}">{{form.pr.employee.dept.name}}</a>&nbsp;&gt;&nbsp;
<span class="breadcrump breadcrump_current">{{form.pr.employee.first_name}}&nbsp;{{form.pr.employee.last_name}}&nbsp;form</span>
{% endblock %}

{% block content %}
<div id="info">
<p>Performance Review Form for {{form.pr.employee.first_name}} {{form.pr.employee.last_name}}</p>
<p>date: {{form.pr.date}}</p>
<p id="lock_info"></p>
</div>
{% if not prev_form %}
<div style="height: 50px; width: 100px; background-color: #add8e6;" id="dropzone" >Drop file here</div>

{% endif %}


<div id='accordion'>
<h3><a href="#">Projects and Initiatives</a></h3>
    <div>
        <div id="project">
        <p>Please list all projects and initiatives you participated in during this performance review period.</p>
        <ul>
        {% for project in form.projects %}
            <li id="{{project.key}}">{{project.value}}</li>
        {% endfor %}
        </ul>
    
</div>
    </div>
<h3><a href="#">Achievements and Challenges</a></h3>
    <div>
        <div id="prev_achievements">
            <a href="#" onclick="display(this); return false">Show previous achievements</a>
            <div class='hidden'>
                <ul>
                {% for achievement in prev_form.achievements %}
                    <li>{{achievement.value}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div id="achievements" class="input_div">
            <p>What do you consider to be your key accomplishments since your last review?</p>
            <ul>
            {% for ach in form.achievements %}
                <li id="{{ach.key}}">{{ach.value}}</li>
            {% endfor %}
            </ul>
            
        </div>

        <div id="prev_responsibilities">
            <a href="#" onclick="display(this); return false">Show previous responsibilities</a>
            <div class='hidden'>
                <ul>
                {% for responsibility in prev_form.responsibilities %}
                    <li>{{responsibility.value}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div id="responsibility" class="input_div">
            <p>List your key job responsibilities during your performance period. Please comment on your job performance assessment.</p>
            <ul>
            {% for responsibility in form.responsibilities %}
                <li id="{{responsibility.key}}">{{responsibility.value}}</li>
            {% endfor %}
            </ul>
            
        </div>

        <div id="prev_challenges" >
            <a href="#" onclick="display(this); return false">Previous challenges</a>
            <div class='hidden'>
                <ul>
                {% for challenge in prev_form.challenges %}
                    <li>{{challenge.value}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>


        <div id="challenges" class="input_div">
            <p>If you have experienced challenges, please specify the areas where you need to focus and improve. </p>
            <ul>
            {% for challenge in form.challenges %}
                <li id="{{challenge.key}}">{{challenge.value}}</li>
            {% endfor %}
            </ul>
            
        </div>
    </div>

    <h3><a href="#">Professional development plan</a></h3>
    <div>
        <div id="career" class="input_div">
            <p>To be filled in during the performance review session.
                The plan contains short term professional development activities.
            It can be split into self-development activities and trainings, courses or internship programs sponsored by the Company. </p>
            <ul>
            {% for career in form.careers %}
                <li id="{{career.key}}" >{{career.value}}</li>
            {% endfor %}
            </ul>
            
        </div>
    </div>
<h3><a href="#">Goals</a></h3>
    <div>
        <div id="prev_goals" class="prev_data">
            <p>Goals from the previous performance review and their evaluation.
                This section compares the goals and results achieved during the previous performance period.
                Actual examples of performance should be given whenever possible.</p>

            <table>
                <thead>
                    <tr>
                        <td>Goal</td>
                        <td>Value</td>
                    </tr>
                </thead>
            {% for prev_goal in prev_form.next_goals %}
                <tr>
                    <td>{{prev_goal.value}}</td>
                    <td>
                        {% ifequal prev_goal.result 1 %}
                            below expectations
                        {% endifequal %}
                        {% ifequal prev_goal.result 2 %}
                            meet expectations
                        {% endifequal %}
                        {% ifequal prev_goal.result 3 %}
                            above expectations
                        {% endifequal %}

                    </td>
                </tr>
            {% endfor %}
            </table>

        </div>

        <div id="next_goals" class="input_div">
            <p>Set measurable goals for the employee for the next performance review period.</p>
            <ul>
            {% for goal in form.next_goals %}
                <li id="{{goal.key}}" >{{goal.value}}</li>
            {% endfor %}
            </ul>
            
        </div>
    </div>
<h3><a href="#">Performance conclusion</a></h3>
    <div>
        {% block salary %}

            <div id='salary' class="input_div">
                <p>Salary:</p>
                    <p>{{form.get_all_data.salary.value}}</p>

            </div>

            <div id='grade' class="input_div">
                <p>Grade:</p>
                    <p>{{form.get_all_data.grade.value}}</p>
            </div>

            <div id='position' class="input_div">
                <p>New position:</p>
                    <p>{{form.get_all_data.position.value}}</p>
            </div>
        {% endblock %}

        <div id='conclusion'>
            Conclusion:
                <p>{{form.get_all_data.conclusion.value}}</p>
        </div>
    </div>
<h3><a href="#">Misc</a></h3>
    <div>
        <div id="manager_comment" class="input_div">
            <p>Fill any comments on this particular form.</p>

            {% for manager_comment in form.manager_comments %}
                {% ifequal user.email form.pr.manager %}
                    <p id="{{manager_comment.key}}" >{{manager_comment.value}}</p>
                    <p>{{manager_comment.manager.email}}</p>
                    <hr>
                {% else %}
                    {% ifequal user.email manager_comment.manager.email %}
                        {% ifequal form.status 'draft' %}
                            <p id="{{manager_comment.key}}" onclick="make_textarea(this)">{{manager_comment.value}}</p>
                            <p>{{manager_comment.manager.email}}</p>
                            <hr>
                        {% else %}
                            <p id="{{manager_comment.key}}" >{{manager_comment.value}}</p>
                            <p>{{manager_comment.manager.email}}</p>
                            <hr>
                        {% endifequal %}
                    {% endifequal %}
                {% endifequal %}
            {% endfor %}
            {% ifequal form.status 'draft' %}
                <input type="button" class="add_button" onclick="add_textarea(this, '{{form.key}}')" value="add" >
            {% endifequal %}

            
        </div>
        {% block hr-comment %}
        {% endblock %}

        <div id="file">
            <p>Attached files:</p>
            {% if file_name%}
                <a href="/serve/{{file_key}}">{{file_name}}</a>
            {% endif %}
        </div>
 </div>
</div>
{% block buttons %}

{% ifequal user.email form.pr.manager.email  %}
    {% ifequal form.status 'submitted' %}
    <input type="button" value="undo submit" onclick="maf_draft('{{form.pr.employee.first_name}} {{form.pr.employee.last_name}}')">
    {% endifequal %}
    {% ifequal form.status 'approved' %}
    <input type="button" value="undo approve" onclick="register('{{form.pr.employee.first_name}} {{form.pr.employee.last_name}}')">
    {% endifequal %}
{% endifequal %}

{% endblock %}

{% endblock %}