{% extends "_api_base.html" %}

{% block breadcrumps %}
<a href="#" onclick="return false">Home</a> >
{% ifnotequal dept 'all' %}
<a href="/#/manager/get/all">PR</a> > <a>{{dept}}</a>
{% else %}
       <a>PR</a>
{% endifnotequal %}
{% endblock %}
{% block content %}

{% if not depts %}
    No reviews currently available
{% else %}
    {% for dept in depts %}
        {% if dept.prs %}
        <h1 onclick="window.location.href = '/#/manager/get/{{dept.name}}'">Department: {{dept.name}}</h1>
        <table>
            <thead>
                <tr>
                    <td>Employee</td>
                    <td>Manager&nbsp;form</td>
                    <td>Employee&nbsp;form</td>
                </tr>
            </thead>
            {% endif %}
            {% for pr in dept.prs %}
                {% ifequal pr.manager.email current_user %}
                <tr>
                    <td>{{pr.employee.first_name}}&nbsp;{{pr.employee.last_name}}</td>
                    <td>
                        {% if pr.manager_form %}
                            <a href="#/manager/pr/get/manager/{{pr.key}}">load</a>
                        {% else %}
                            <a href="#/manager/pr/add/manager/{{pr.employee.key}}">create</a>
                        {% endif %}
                    </td>
                    <td>{% if pr.employee_form %}
                            {% ifnotequal pr.employee_form.status 'draft' %}
                                <a href="#/manager/pr/get/employee/{{pr.key}}">load</a>
                            {% else %}
                                <p>none</p>
                            {% endifnotequal %}
                        {% else %}
                                <p>none</p>
                        {% endif %}
                    </td>
                </tr>

            {% endifequal %}
            
            {% endfor %}
        </table>
    {% endfor %}
{% endif %}
{% if shared_forms %}
    <h1>Shared forms:</h1>
        {% for shared_form in shared_forms %}
        <a href="/#/manager/pr/get/manager/{{shared_form.form.pr.key}}">
            {{shared_form.form.pr.employee.first_name}}&nbsp;
            {{shared_form.form.pr.employee.last_name}}&nbsp;form</a>
        {% endfor %}
{% endif %}
{% endblock %}