{% extends "api.manager_form.html" %}

{% block salary %}

    <div id='salary' class="input_div">
        <p>Salary:</p>
            <p>{{form.get_all_data.salary.value}}</p>

    </div>

    <div id='grade' class="input_div">
        <p>Grade:</p>
            <p>{{form.get_all_data.grade.value}}</p>
    </div>

    <div id='position' class="input_div">
        <p>Current Position: {{form.pr.employee.position}}</p>
        <p>New position:</p>
            <p>{{form.get_all_data.position.value}}</p>
    </div>
{% endblock %}