{% extends "_api_base.html" %}

{% block content %}
<table>
    {% if not prs %}
        No reviews currently available
    {% endif %}
    {% for pr in prs %}
        <tr>
            <td>{{pr.employee.first_name}} {{pr.employee.last_name}}</td>
            <td>
                {% if pr.manager_form %}
                    <input type="button" value="mark" onclick="load('pr/get/manager/{{pr.key}}')">
                {% else %}
                    <input type="button" value="add" onclick="load('/pr/add/manager/{{pr.employee.key}}')">
                {% endif %}
            </td>

            <td>
                {% if not pr.self_form %}
                    <p>none</p>
                {% else %}
                    <input type="button" value="show" onclick="load('/pr/get/employee/{{pr.key}}')">
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}