<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">


<html>
<head>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title></title>
</head>


<script type="text/javascript">

var form_key= '{{key}}';

function send_value(id, value){
       $.post('/pr/data/update/'+ id, {value: value});
    }

$(document).ready(function(){

    $('#prev_goals').load('/pr/prev_goals/{{key}}');
    $('.add_button').click(function(){
        var button = $(this);
        var table = button.parent().attr('id');
        $.post(
            '/pr/data/add',
            {form_key: form_key, table: table},
            function(data){
                $('<input type="text" size="75">').attr('id',data).focusout(function(){
                    $.post('/pr/data/update/'+this.id, {value: this.value})
                }).insertBefore(button)
            }
        )
    })
})





</script>


<body>
<p>Performance Review Form for {{emp.first_name}} {{emp.last_name}}</p>
<p>author: {{author.first_name}} {{author.last_name}}</p>

<div id="prev_goals" class="input_div">

</div>

<div id="next_goals" class="input_div">

        <p>Next goals:</p>
    
    {% for goal in next_goals %}

        <input type="text" size="75" id="{{goal.key}}" value="{{goal.value}}" onblur="send_value(id, value)">

    {% endfor %}


            <input type="button" class="add_button" value="add" >

</div>

<div id="achievements" class="input_div">

        <p>Achievements:</p>

    {% for ach in achievements %}

        <input type="text" size="75" id="{{ach.key}}" value="{{ach.value}}" onblur="send_value(id, value)">

    {% endfor %}

        <input type="button" class="add_button" value="add" >


</div>

<div id="challengers" class="input_div">

        <p>Challengers:</p>

    {% for chal in challengers %}

        <input type="text" size="75" id="{{chal.key}}" value="{{chal.value}}" onblur="send_value(id, value)">

    {% endfor %}
        <input type="button" class="add_button" value="add" >

</div>
<div id="conclusions">
    <p>Conclusions:</p>
    
</div>


</body>
</html>