<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">


<script language="JavaScript">

function add_text(a) {
   
    var form = document.getElementById(a);
    var text = document.createElement("input");
    text.setAttribute("type", "text");
    text.setAttribute("size","75");
    form.appendChild(text)
}


</script>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title></title>
</head>
<body>

<p id="period">Period: </p>
<p id="employee">Employee: </p>
<p id="manager">Manager: </p>

<div id="prev_goals">

    <p>Previous goals:</p>

    <form id="prev_goal_form">
        <input type="button" value="add" onclick="add_text('prev_goal_form')">
    </form>

</div>

<div id="next_goals">

        <p>Next goals:</p>

    <form id="next_goal_form">
        <input type="button" value="add" onclick="add_text('next_goal_form')">
    </form>

</div>

<div id="achiev">

        <p>Achievements:</p>

    <form id="achiev_form">
        <input type="button" value="add" onclick="add_text('achiev_form')">
    </form>

</div>

<div id="challeng">

        <p>Challengers:</p>

    <form id="challeng_form">
        <input type="button" value="add" onclick="add_text('challenge_form')">
    </form>
    
</div>
<div id="concl">
    <p>Conclusions:</p>
    
</div>



</body>
</html>