{% extends "_api_base.html" %}

{% block content %}


            <table>
                <tr>
                    <td>Department</td>
                    <td>Employee</td>
                    <td>Manager</td>
                    <td>Status</td>
                    <td>Conclusion</td>
                    <td>Finally</td>
                    <td>Salary</td>
                    <td>Grade</td>
                    <td>Start date</td>
                    <td>Comment</td>
                </tr>

    {% for pr in prs %}
                <tr>
                    <td>{{pr.employee.dept.name}}</td>
                    <td>{{pr.employee.first_name}}&nbsp;{{pr.employee.last_name}}</td>
                    <td>{{pr.manager.first_name}}&nbsp;{{pr.manager.last_name}}</td>
                    <td>
                        {% if not pr.manager_form.status %}
                            none
                        {% else %}
                            {{pr.manager_form.status}}
                        {% endif %}
                    </td>
                    <td>{{pr.manager_form.get_all_data.conclusion.value}}</td>
                    <td>Finally</td>
                    <td>{{pr.manager_form.get_all_data.salary.value}}</td>
                    <td>{{pr.manager_form.get_all_data.grade.value}}</td>
                    <td>{{pr.period.start_date}}</td>
                    <td>Comment</td>
                </tr>

    {% endfor %}
           </table>


{% endblock %}