<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">


<html>
<head>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title></title>
</head>


<script type="text/javascript">
</script>


<body>
<p>user: {{user.e_mail}}</p>
<p>Performance Review Form for {{emp.first_name}} {{emp.last_name}}</p>
<p>author: {{author.first_name}} {{author.last_name}}</p>

<div id="prev_goals" class="input_div">

</div>

<div id="next_goals" class="input_div">

        <p>Next goals:</p>
    
    {% for goal in next_goals %}

        <p>{{goal.value}}</p>

    {% endfor %}




</div>

<div id="achievements" class="input_div">

        <p>Achievements:</p>

    {% for ach in achievements %}

        <p>{{ach.value}}</p>

    {% endfor %}

        


</div>

<div id="challengers" class="input_div">

        <p>Challengers:</p>

    {% for chal in challengers %}

        <p>{{chal.value}}</p>

    {% endfor %}
        
</div>
<div id="conclusions">
    <p>Conclusions:</p>
    
</div>


</body>
</html>