<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title></title>
</head>
<script>
    $(document).ready(function(){
        $('#submit').click(function(){
            var employees = '';
            var date = $('#date').val();
            var type = $('#type').val();
            $('input[name="employees"]:checked').each(function(){
                    employees = employees + this.value + ',';})

            $.post('/pr/create', {'employees': employees,'type':type, 'date': date}, function(data){alert(data)})
        })

        $('.check_all').click(function(){
            $(this).parent().find(':checkbox').attr('checked', this.checked);
	    });

    })
</script>
<body>
    <div>
        date:
        <input type="text" id="date">
    </div>
    <div>
        type:
        <select id='type'>
            <option value='main'>main</option>
            <option value='intermediate'>intermediate</option>
        </select>
    </div>
<p></p>
    {% for dept in depts %}
        <div id="dept">
            <input id="{{dept.name}}" class="check_all"  type="checkbox">
            {{dept.name}}
            <br>
            <div id="list">
            {% for employee in dept.users %}
                <input name="employees" type="checkbox" class="{{dept}}" value="{{employee.key}}">
                {{employee.first_name}}{{employee.last_name}}
                <br>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
<input type='button' id='submit' value="create PR">


</body>
</html>