{% extends "_api_base.html" %}

{% block script %}
<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript">


        $(document).ready(function(){
      
        $('.checkall').click(function(){
            $(this).parent().parent().parent().find('input:checkbox:not(":disabled")').attr('checked', this.checked);
	    });

        $('.comment').focusout(function(){
            $.post('pr/data/update/' + this.name, {'value': this.value });
        });

        $('.date').datepicker({ dateFormat: 'yy-mm-dd' });
        $('.date').focusout(function(){
            var name = this.name;
            var key = this.getAttribute("_key");
            if (name == 'finish'){$.post('pr/update',
                                        {'finish': this.value, 'key': key})}
        });
        $('#period').click(function(){
            ('.result').load('/new_period')
        });
        $('input[name="register"]').click(function(){
            var keys = '';
            var description = '';
            $(this).parent().find($('input[name="check"]:checked')).each(function(){
                    description = description + ', '+ this.title;
                    keys = keys + this.value + ',';});
            $.post('/pr/register',{'keys': keys});

            message = 'You have successfully registered forms';
            load('/hr');

        })
    })
</script>
{% endblock %}
{% block breadcrumps %}
<a>Home</a> >
{% endblock %}
{% block content %}

        <div><a href="/#/hr/get/projects">Projects</a></div>

    {% for period in periods %}

        <h2>{{period.description}}</h2>
        Type: {{period.type}}
        Start: {{period.start_date}}
        Finish: {{period.finish_date}}
        <div align="right">
        <a class="nav" href="#/hr/report/detailed/{{period.key}}">detailed report</a> |
        <a class="nav" href="#/hr/report/summary/{{period.key}}">summary report</a>
        </div>
        <table>
            <tr>
                <td><input type="checkbox" id="{{period.key}}" {{period.register}} class="checkall"></td>
                <td>employee</td>
                <td>manager</td>
                <td>date</td>
                <td>MAF</td>
                <td>status</td>
            </tr>
            {% for pr in period.pr %}
                <tr id="{{pr.key}}">
                    <td><input type="checkbox" {{pr.register}} value={{pr.key}} title="{{pr.employee.email}}" name="check"></td>
                    <td>{{pr.employee.email}}</td>
                    <td>{{pr.manager.email}}</td>
                    <td><input type="text" _key="{{pr.key}}" class="date" name="finish" value="{{pr.date}}"></td>
                    <td>
                        {% if pr.manager_form %}
                            {% ifnotequal pr.manager_form.status 'draft' %}
                                <a href="#/hr/get/manager/{{pr.key}}" class="nav">{{pr.employee.first_name}}&nbsp;{{pr.employee.last_name}} form</a>
                            {% else %}
                                form is in work
                            {% endifnotequal %}
                        {% else %}
                            none
                        {% endif %}
                    </td>

                    <td name="status">
                        {% if pr.manager_form.status %}
                            {{pr.manager_form.status}}
                        {% else %}
                            none
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </table>
        <input type="button" {{period.register}} name="register" value="register">
        <hr >
    {% endfor %}
        <p id="new_period" ><a href="#/hr/new_period">Create New PR Period</a></p>
{% endblock %}