{% extends "_api_base.html" %}

{% block script %}
<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript">


        $(document).ready(function(){

        $('.checkall').click(function(){
            $(this).parent().parent().parent().find(':checkbox').attr('checked', this.checked);
	    });

        $('.comment').focusout(function(){
            $.post('pr/data/update/' + this.name, {'value': this.value });
        })

        $('.date').datepicker({ dateFormat: 'yy-mm-dd' });
        $('.date').focusout(function(){
            var name = this.name;
            var key = this.getAttribute("_key");
            if (name == 'finish'){$.post('pr/update',
                                        {'finish': this.value, 'key': key})}
        });
        $('#period').click(function(){
            ('.result').load('/new_period')
        });
        $('.register').click(function(){
            var keys = '';
            $('input[name="check"]:checked').each(function(){
                    keys = keys + this.value + ',';});
            $.post('/pr/register',{'keys': keys});
            })
        
    })
</script>
{% endblock %}

{% block content %}
    {% for period in periods %}
        <h2>{{period.description}}</h2>
        Type: {{period.type}}
        Start: {{period.start_date}}
        Finish: {{period.finish_date}}
        <table>
            <tr>
                <td><input type="checkbox" class="checkall"></td>
                <td>employee</td>
                <td>manager</td>
                <td>date</td>
                <td>MAF</td>
                <td>status</td>
            </tr>
            {% for pr in period.performance_reviews %}
                <tr>
                    <td><input type="checkbox" value={{pr.key}} name="check"></td>
                    <td>{{pr.employee.email}}</td>
                    <td>{{pr.manager.email}}</td>
                    <td><input type="text" _key="{{pr.key}}" class="date" name="finish" value="{{pr.date}}"></td>
                    <td>
                        {% if pr.manager_form %}
                            {% ifnotequal pr.manager_form.status 'draft' %}
                                <a href="#" onclick="load('/hr/get/manager/{{pr.key}}')">{{pr.employee.first_name}}&nbsp;{{pr.employee.last_name}} form</a>
                            {% else %}
                                form is in work
                            {% endifnotequal %}
                        {% else %}
                            none
                        {% endif %}
                    </td>

                    <td>
                        {% if pr.manager_form.status %}
                            {{pr.manager_form.status}}
                        {% else %}
                            none
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </table>
    {% endfor %}
        {% if periods %}
            <input type="button" class='register' value="register">
        {% endif %}
        <input type="button" value="Create New PR Period" onclick="load('/new_period')"><br>
        <input type="button" value="Show detail report" onclick="load('/hr/report/detailed')"><br>
        <input type="button" value="Show summary report" onclick="load('/hr/report/summary')"><br>
{% endblock %}