{% extends "_api_base.html" %}
{% block script %}
<script type="text/javascript">
        if (!{{manager.edit_sub_reviews}}){
            $('#check_option').attr('checked', 'checked')
        }

    $('#save').click(function(){
            var edit_sub_reviews = 1;
            if ($('#check_option').is(':checked')){
                edit_sub_reviews = 0;
            }
            $.post('/manager/settings/update',
                    {'edit_sub_reviews':
                    edit_sub_reviews});
            window.location.href = "/#/manager/home"
    })
</script>
{% endblock %}
{% block breadcrumps %}
<a href="/#/manager/home">Home</a>&nbsp;&gt;&nbsp;
<span class="breadcrump breadcrump_current">Settings</span>
{% endblock %}
{% block content %}
<div>
<input type="checkbox" id="check_option" name="options">See just own MAF<br>
<input type="button" id="save" value="save">
</div>
{% endblock %}