<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>

<table>
    {% if not employees %}
        No reviews currently available
    {% endif %}
    {% for employee in employees %}
        <tr>
            <td>{{employee.first_name}} {{employee.last_name}}</td>
            <td>
                {% if employee.manager_form %}
                    <input type="button" value="mark" onclick="load('pr/get/{{employee.manager_form.key}}')">
                {% else %}
                    <input type="button" value="add" onclick="load('/pr/add/{{employee.key}}')">
                {% endif %}
            </td>

            <td>
                {% if not employee.self_form.key %}
                    <p>none</p>
                {% else %}
                    <input type="button" value="show" onclick="load('/pr/get/{{employee.self_form.key}}')">
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>