{% extends "_api_base.html" %}

{% block script %}

<script type="text/javascript">

    $('input[name="first_date"]').datepicker({ dateFormat: 'yy-mm-dd' });

    $( 'input[name="manager"]' ).autocomplete({
			source: "/get_users",
			minLength: 1});

    $( 'input[name="manager"]' ).focusin(function(){
        $(this).val('');
    });

    function validate(){
        $('#hint').css('display', 'block');
        var x;
        var res;
        x = $( 'input[name="first_name"]' ).val();
        if (x==null || x=="")
         {
            $('#hint').find('.message').html("First name must be filled");
            return false;
         }
        x = $( 'input[name="email"]' ).val();
        if (x==null || x=="")
         {
            $('#hint').find('.message').html("Email must be filled");
            return false;
         }
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        if(!reg.test(x)){
            $('#hint').find('.message').html("Email is incorrect");
            return false;
        }
        x = $( 'input[name="last_name"]' ).val();
        if (x==null || x=="")
         {
            $('#hint').find('.message').html("Last name must be filled");
            return false;
         }
        x = $( 'input[name="first_date"]' ).val();
        if (x==null || x=="")
         {
            $('#hint').find('.message').html("First date is not filled");
            res = confirm("You have not filled first date. Continue?");
            if (!res){
                return false
            }
         }
        x = $( 'input[name="dept"]' ).val();
        if (x==null || x=="")
         {
            $('#hint').find('.message').html("Department is not filled");
            res = confirm("You have not filled department. Continue?");
            if (!res){
                return false
            }
         }
        x = $( 'input[name="position"]' ).val();
        if (x==null || x=="")
         {  $('#hint').find('.message').html("Position is not filled");
            res = confirm("You have not filled position. Continue?");
            if (!res){
                return false
            }
         }
        x = $( 'input[name="manager"]' ).val().strip;
        if (x==null || x=="")
         {  $('#hint').find('.message').html("Manager is not filled");
            res = confirm("You have not filled manager. Continue?");
            if (!res){
                return false
            }
         }
        return true
    }

    $(document).ready(function(){
            {% for role in roles %}
                $('input[value = "{{role}}"]').attr('checked', 'checked');
            {% endfor %}

        $('#send').click(function(){

            if (!validate()){
                return false
            }

            var $form = $('#user_form'),
                first_name = $form.find( 'input[name="first_name"]' ).val(),
                last_name = $form.find( 'input[name="last_name"]' ).val(),
                first_date = $form.find( 'input[name="first_date"]' ).val(),
                email = $form.find( 'input[name="email"]' ).val(),
                dept = $form.find( 'input[name="dept"]' ).val(),
                position = $form.find( 'input[name="position"]' ).val(),
                manager = $form.find( 'input[name="manager"]' ).val(),
                url = $form.attr( 'action' ),
                role = '';
                $('input[name="role"]:checked').each(function(){
                    role = role + this.value + ',';
                });

                $.post( url,
                        {'key': '{{user.key}}',
                         'first_name': first_name,
                        'last_name': last_name,
                        'first_date': first_date,
                        'email': email,
                        'role': role,
                        'dept': dept,
                        'position': position,
                        'manager': manager},
                        function(data){
                            if (data == "ok"){
                                window.location = "/#/users"
                            }
                            else $('hint').find('message').html(data);
                        })

        });

        $('#create_roles').click(
                function(){
                   $.post('/create_role',
                            function(data){
                                alert(data);
                               })
                  })


    })
</script>
{% endblock %}

{% block content %}

<div id="wrapper">
<div>
    <p>add new:</p>
    <form action="/add_emp" id="user_form" method="post">
        <table>
           
            <tr>
                <td><label>first_name:</label></td>
                <td><input type="text" value="{{user.first_name}}" maxlength="25" name="first_name"><br></td>
            </tr>
            <tr>
                <td><label>last_name:</label></td>
                <td><input type="text" value="{{user.last_name}}" maxlength="25" name="last_name"><br></td>
            </tr>
            <tr>
                <td><label>email:</label></td>
                <td><input type="text" value="{{user.email}}" maxlength="25" name="email"><br></td>
            </tr>
            <tr>
                <td><label>department:</label></td>
                <td><input type="text" value="{{user.dept.name}}" maxlength="25" name="dept"><br></td>
            </tr>
            <tr>
                <td><label>position:</label></td>
                <td><input type="text" value="{{user.position}}" maxlength="25" name="position"><br></td>
            </tr>
            <tr>
                <td><label>first_date:</label></td>
                <td><input type="text" value="{{user.first_date}}" name="first_date"><br></td>
            </tr>
            <tr>
            <script type="text/javascript">

            </script>
                <td><label>select role:</label></td>
                <td><input type="checkbox" name="role" value="employee">employee<br>
                    <input type="checkbox" name="role" value="manager">manager<br>
                    <input type="checkbox" name="role" value="hr">hr<br></td>
            </tr>
            <tr>
                <td><label>manager:</label></td>
                <td><input type="text" value="{{user.manager.first_name}}&nbsp;{{user.manager.last_name}}" name="manager"><br>
                </td>
            </tr>
        </table>
                <input type="button" id="send" value="update">

    </form>

</div>
</div>

{% endblock %}
