{% extends "_base.html" %}

{% block script %}

<script type="text/javascript">


    $(document).ready(function(){
                    
        $('#send').click(function(){

            var $form = $('#user_form'),
                first_name = $form.find( 'input[name="first_name"]' ).val(),
                last_name = $form.find( 'input[name="last_name"]' ).val(),
                email = $form.find( 'input[name="email"]' ).val(),
                dept = $form.find( 'input[name="dept"]' ).val(),
                manager = $form.find( 'select[name="manager"]' ).val(),
                url = $form.attr( 'action' ),
                role = '';
                $('input[name="role"]:checked').each(function(){
                    role = role + this.value + ',';
                })
                
                $.post( url,
                        {first_name: first_name,
                        last_name: last_name,
                        email: email,
                        role: role,
                        dept: dept,
                        manager: manager},
                        function(data){
                            if (data == "ok"){
                                window.location = "/users"
                            }
                            else alert('error');
                        })

        })

        $('#create_roles').click(
                function(){
                   $.post('/create_role',
                            function(data){
                                alert(data);
                               })
                  })


    })
</script>
{% endblock %}

{% block content %}


<div id="wrapper">
<div>
    <p>add new:</p>
    <form action="/add_emp" id="user_form" method="post">
        <table>
            <tr>
                <td><label>first_name:</label></td>
                <td><input type="text" name="first_name"><br></td>
            </tr>
            <tr>
                <td><label>last_name:</label></td>
                <td><input type="text" name="last_name"><br></td>
            </tr>
            <tr>
                <td><label>e_mail:</label></td>
                <td><input type="text" name="email"><br></td>
            </tr>
            <tr>
                <td><label>department:</label></td>
                <td><input type="text" name="dept"><br></td>
            </tr>
            <tr>
                <td><label>position:</label></td>
                <td><input type="text" name="position"><br></td>
            </tr>
            <tr>
                <td><label>select role:</label></td>
                <td><input type="checkbox" name="role" value="employee">employee<br>
                    <input type="checkbox" name="role" value="manager">manager<br>
                    <input type="checkbox" name="role" value="hr">hr<br></td>
            </tr>
            <tr>
                <td><label>manager:</label></td>
                <td><select name="manager">
                        <option value="">None</option>
                    {% for manager in managers %}
                        <option value="{{manager.key}}">{{manager.email}}</option>
                    {% endfor %}
                    </select><br>
                </td>
            </tr>
        </table>
                <input type="button" id="send" value="add">

    </form>

</div>
</div>

{% endblock %}
