<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">


<html>
<head>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title></title>
</head>
<body>

<div>
    {% for pr in prs %}
        <p>emp mail {{pr.employee.e_mail}}</p>
        <p>man mail {{pr.manager.e_mail}}</p>
        <p>date {{pr.date}}</p>
        <p>type {{pr.type}}</p>
        {% for form in pr.forms %}
            <p> author {{form.author.e_mail}}</p>
            {% for goal in form.next_goals %}
            <p>{{goal.value}}</p>
            {% endfor %}
        {% endfor %}
    <p>##########################################</p>
    {% endfor %}
</div>
</body>
</html>