{% extends "_api_base.html" %}
{% block script %}
<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript">
            function add(){
                var name = $('#add_project').val();
                $.post('/hr/project/add', {'name': name});
                load(document.location.hash.replace('#', ''));
            }
    $(document).ready(function(){
    $(function() {
		$( "#dialog:ui-dialog" ).dialog( "destroy" );

        var employees_email = new Array();


		$( "#attaching-form" ).dialog({
			autoOpen: false,
			height: 500,
			width: 500,
			modal: true,
            buttons: {"ok": function(){
                        $( "#attaching-form" )
                                .find('.employees_email')
                                .each(function(){
                                 employees_email.push($(this).html())
                        });
                        $( this ).dialog( "close" );
                        $('#attached').html('');
                        alert(project_key);
                        $.post('/hr/project/attach', {'project_key': project_key,
                            'employees': employees_email.join(',')},
                                function(data){
                                    message = data;
                                    load(window.location.hash.replace('#',''));
                        })
                        },
                      "cancel": function(){$( this ).dialog( "close" );}}
		});
	});
        $( ".attach_employee" )
			.click(function() {
                project_key = $(this).parent().attr('id');
				$( "#attaching-form" ).dialog( "open" );
			});
        $( "#employees" ).autocomplete({
			source: "/get_users",
			minLength: 1,
            select: function( event, ui ) {
                $('#attached')
                        .append("<div><p class='employees_email'>"
                        + ui.item.value +
                        "</p><input type='button' value='&times;' onclick='parent_replace(this)'></div>");
			}
        })
                });
        </script>
{% endblock %}
{% block content %}
<div id="attaching-form" title="Attach employee">
	<p>Attach to project:</p>
    <input type="text" id="employees">
    <div id="attached"></div>
</div>
{% for project in projects %}
        <h2>{{project.name}}</h2>
        <div id="{{project.key}}">
        {% if project.employee_list %}
            <table>
                <tr>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Email</td>
                </tr>
        {% for employee in project.employee_list %}
            <tr>
             <td>{{employee.first_name}}</td>
             <td>{{employee.last_name}}</td>
             <td>{{employee.email}}</td>
            </tr>
        {% endfor %}
            </table>
        {% endif %}
        <input type="button" class="attach_employee" value='attach'>
        </div>
{% endfor %}
        <a href="#" onclick="display(this); return false">Add project:</a>
        <div class="hidden">
        Project name:
        <input id="add_project" type='text'>
        <input type="button" onclick="add()" value="add">
        </div>
{% endblock %}