{% extends "_api_base.html" %}

{% block script %}
<script type="text/javascript">
        $(document).ready(function(){
         $('.date').datepicker({ dateFormat: 'yy-mm-dd' });
        });

</script>
{% endblock %}
{% block breadcrumps %}
<a href="/#/hr">Home</a>&nbsp;&gt;&nbsp;
<a>Settings</a>
{% endblock %}
{% block content %}
        <div id="events">
        <a href="#" onclick="display(this); return false">Automatic creation PR events:</a>
        <div class='hidden'>
        {% for event in events %}
        <div id="{{event.type}}">
            <p>{{event.type}}:</p>

        start date:
        <input type="text" name="start" class="date" value="{{event.start_date}}">

        finish date:
        <input type="text" name="finish" value="{{event.finish_date}}" class="date"><br>

        first effective date:
        <input type="text" name="first_date" value="{{event.first_effective_date}}" class="date"><br>
            <input type='button' onclick="update_event(this)" value="change">
        </div>
        {% endfor %}
        <div>
        <p>new event:</p>
        <table>
        <tr><td>type:</td>
            <td>
            <select name="type">
                <option value="annual">annual</option>
                <option value="semi-annual">semi-annual</option>
            </select>
            </td>
        </tr>
        <tr><td>start date:</td><td><input type="text" name="start" class="date" ></td></tr>
        <tr><td>finish date:</td><td><input type="text" name="finish" class="date"></td></tr>
        <tr><td>first effective date:</td><td><input type="text" name="first_date" class="date"></td></tr>
        </table>
        <input type='button' onclick="create_event(this)" value="create">
        </div>
        </div>
    </div>

{% endblock %}