{% extends "_base.html" %}

{% block content %}

<div>
    <p>Users:</p>
    <table>
        {% if users %}
            <thead>
                <tr>
                    <td> First Name </td>
                    <td> Last Name </td>
                    <td> Email </td>
                    <td> Manager </td>
                    <td> Roles </td>
                    <td> Department </td>
                    <td> Position </td>
                </tr>
            </thead>
        {% endif %}
	    {% for user in users %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.manager.first_name}} {{user.manager.last_name}}</td>
                <td>{{user.roles}}</td>
                <td>{{user.dept.name}}</td>
                <td>{{user.position}}</td>
            </tr>
        {% endfor %}
    </table>

</div>
<a href="/new_user">Add user</a>

{% endblock %}