{% extends "_api_base.html" %}

{% block content %}
<div>
    Update user information by uploading .xls file:
    <form action="{{upload_url}}" method="POST" enctype="multipart/form-data">
        <input type='hidden' name='key' value={{form.key}}>
        <input type="file" name="file"><br>
        <input type="submit" name="submit" value="Update">
    </form>
</div>

<div>
    Update user first date information by uploading .xls file:
    <form action="{{upload_url_first_date}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <input type="submit" name="submit" value="Update">
    </form>
</div>

<div><a href="/#/edit_user/">Add user</a></div>

<div>
    <p>Users:</p>
    <table>
        {% if users %}
            <thead>
                <tr>
                    <td> First Name </td>
                    <td> Last Name </td>
                    <td> Email </td>
                    <td> Manager </td>
                    <td> Roles </td>
                    <td> Department </td>
                    <td> Position </td>
                    <td></td>
                </tr>
            </thead>
        {% endif %}
	    {% for user in users %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.manager.first_name}} {{user.manager.last_name}}</td>
                <td>{{user.roles}}</td>
                <td>{{user.dept.name}}</td>
                <td>{{user.position}}</td>
                <td><a href="/#/edit_user/{{user.key}}">edit</a></td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}